html {
    box-sizing: border-box;
    font: normal 14px Century Gothic;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: repeat;
}

nav {
    background: white;
    box-shadow: -1.5px 1.5px 5px #cccccc;
    transition: box-shadow .25s;
}

nav:hover {
    box-shadow: 0 0 15px #aaaaaa;
}

main {
    margin: 20px 20px;
}

content > * {
    margin-bottom: 20px;
}

/*
    HORIZONTAL MARGIN ROW
*/

.row--h-margin {
    margin: 20px;
}

/*
    SPINNER
 */

.spinner {
    height: 300px;
}

.spinner img {
    position: relative;
    display: block;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
}

/*
    SQUARE
*/

.square {
    display: block;
    position: relative;
    padding: 20px;
    background: white;
    box-shadow: -1.5px 1.5px 5px #cccccc;
    transition: box-shadow .25s;

    /*width: auto;*/
    /*height: auto;*/
}

.square:hover {
    box-shadow: 0 0 15px #aaaaaa;
}

/*
    CIRCLE
*/

.circle {
    display: inline-block;
    position: relative;
    min-width: 65px;
    min-height: 65px;

    background-color: white;
    border-radius: 35px;
    box-shadow: -1px 1px 2px #dddddd;

    transition: box-shadow .25s, background .15s;
}

.circle:hover {
    box-shadow: -2.5px 2.5px 2.5px #cccccc;
}

.circle:active {
    box-shadow: -2px 2px 1.5px #cccccc;
    background-image: linear-gradient(to bottom left, white, #eaeaea);
}

.circle--select {
    background: #000;
    color: white;
}

.circle--select:hover {
    box-shadow: none;
}

.circle--select:active {
    box-shadow: none;
    background: #000;
}


.circle img {
    width: 65px;
    height: 65px;
}

.circle span {
    display: block;
    position: relative;
    top: 18px;
    margin: 0 10px;

    text-align: center;
    font-size: 20px;
}

/*
    NAME-BOX
*/

.name-box {
    transition: box-shadow .25s, background .15s;
    cursor: pointer;
    font-size: 18px;
}

.name-box:hover {
    box-shadow: 0 10px 10px -10px #bbbbbb;
}

.name-box:active {
    box-shadow: 0 10px 5px -10px #bbbbbb;
}

.name-box:active {
    opacity: .75;
}

/*
    DESC-BOX
 */

.desk-box {
    text-indent: 15px;
    font-size: 14px;
}

/*
    START-LINK
*/

.start-link {
    margin-bottom: 15px;
}

/*
    IMAGE
*/

.image-box {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image-box .index {
    display: block;
    position: absolute;
    z-index: 999;

    top: 2px;
    right: 2px;
    width: 35px;
    height: 35px;
    padding: 2px;

    border-radius: 50%;
    box-shadow: inset -3px 3px 3px #cccccc;
    background-image: linear-gradient(to bottom left, #fcfcfc, #f0f0f0);
    transition: box-shadow .2s, background .2s;

    text-align: center;
    font-size: 22px;
}

.image-box .index--active {
    box-shadow: inset -2px 2px 2px #cccccc;
    background-image: linear-gradient(to bottom left, #fcfcfc, #f5f5f5);
}

.img--expanding-width {
    width: 100%;
    height: auto;
}

.image-box .text-box {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    font-size: 16px;
}

.image-box .text-box .name {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.image-box .text-box .desc {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.image-box .text-box--overlap {
    position: absolute;
    max-height: 20px;
    bottom: 0;
    left: 0;

    background-color: rgba(255, 255, 255, .5);
    transition: max-height .5s, background-color .5s;

    text-align: center;
    color: #000000;
}

.image-box .text-box--overlap--hover {
    max-height: calc(20px + 40%);
    background-color: rgba(255, 255, 255, .75);
}

.image-box .text-box--overlap .name {
    height: 25%;
}

.image-box .text-box--overlap .desc {
    max-height: 40%;
}

/*
    CAROUSEL
*/

.carousel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel .arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;

    top: calc(50% - 25px);
    z-index: 999;

    background-color: rgba(255, 255, 255, .2);
    transition: background-color .2s;
}

.carousel .arrow:hover {
    background-color: rgba(255, 255, 255, .5);
}

.carousel .arrow img {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    opacity: 1;
}

.carousel .arrow--left {
    left: 0;
    border-radius: 0 25px 25px 0;
}

.carousel .arrow--left:active {
    -webkit-animation: bounce-left .2s ease-in; /* Safari 4+ */
    -moz-animation: bounce-left .2s; /* Fx 5+ */
    -o-animation: bounce-left .2s; /* Opera 12+ */
    animation: bounce-left .2s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes bounce-left {
    0% {
        left: 0;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 0;
    }
}

@-moz-keyframes bounce-left {
    0% {
        left: 0;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 0;
    }
}

@-o-keyframes bounce-left {
    0% {
        left: 0;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 0;
    }
}

@keyframes bounce-left {
    0% {
        left: 0;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 0;
    }
}

.carousel .arrow--right {
    right: 0;
    border-radius: 25px 0 0 25px;

}

.carousel .arrow--right:active {
    -webkit-animation: bounce-right .2s; /* Safari 4+ */
    -moz-animation: bounce-right .2s; /* Fx 5+ */
    -o-animation: bounce-right .2s; /* Opera 12+ */
    animation: bounce-right .2s; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes bounce-right {
    0% {
        right: 0;
    }
    50% {
        right: -3px;
    }
    100% {
        right: 0;
    }
}

@-moz-keyframes bounce-right {
    0% {
        right: 0;
    }
    50% {
        right: -3px;
    }
    100% {
        right: 0;
    }
}

@-o-keyframes bounce-right {
    0% {
        right: 0;
    }
    50% {
        right: -3px;
    }
    100% {
        right: 0;
    }
}

@keyframes bounce-right {
    0% {
        right: 0;
    }
    50% {
        right: -3px;
    }
    100% {
        right: 0;
    }
}

.carousel .images {
    display: block;
    position: absolute;
    width: 999999px;
    height: 100%;

    transition: left .5s;
}

/*
    COLLECTION LIST
 */

.collection-list {

}

/*
    COLLECTION LIST ITEM
*/

.collection-list-item {
    margin-bottom: 20px;
}

/*
    MODEL-LIST
 */

.model-list {
    margin: 0;
}

/*
    MODEL-LIST-ITEM
 */

.model-list-item {
    margin: 20px 0;
}

/*
    PROTOTYPE LIST
*/

.prototype-list {
}

.prototype-list-row {
    margin-bottom: 10px;
}

.prototype-list-item {
}

/*
    PAGINATOR
 */
.paginator {
    text-align: center;
}

.paginator__page {
    margin-right: 10px;
}

.paginator__page:last-child {
    margin-right: 10px;
}